/* header2.css*/


*.header, .mainlogo, .links{
    display: flex;
    color: black;
    border: 1px solid black;
    padding: 8px;
    justify-content: center;
    align-items: center;

}
.header{
    
    height: 100px;
    justify-content: space-between;
}

.mainlogo{
    flex-basis: 200px;
    height: 50px;
    color: purple;
    font-family: Times;
    font-weight: bolder;
}

.links{
    flex-basis: 100px;
    height: 50px;
    color: purple;
}

.notification-button{
    
    background-color: purple;
    color: white;
    height: 50px;
    width: 75px;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: purple;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  display: inline-block;
}

.leftside-container, .rightside-container{
    display: flex;
    gap: 16px;
    height: 75px;
    align-items: center;
    justify-content: center;
    
}
